.image-container {
    position: relative;
    display: inline-block;
    background-color: #000000;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-bottom: 5px solid #000;
}




.text-overlay {
    position: absolute;
    top: 30%;
    left: 18%;
    right: 18%;
    transform: translate(0, -30%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
    /* Colore del testo */
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
}


.text-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 1.5em;
}

.text-title-center {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: center;
    font-size: 2em;
}

.text-justify {
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: justify;
    font-size: 1.5em;
}

.text-footer {
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: center;
    font-size: 1em;
}


.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.page-block {
    margin-left: 18%;
    margin-right: 18%;
    display: flex;
    align-items: center;
}

.small-spacing {
    height: 30px
}
